header,
#landing-page {
    background-image: url('../pics/beach.jpg'); 
    background-attachment: fixed;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh;
}

#about
{
    background-color: #2B2F30;
    height: 40vh;
}
/*------------------------ Navbar------------*/
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  #navbar-top {
    background-attachment: scroll;
  }
}

#navbar-top
{
    /* transparent background with 30% opacity */
    background:  rgba(255, 255, 255, .3);
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
}
#navbar-text
{
    color: black;
}
#nav-name
{
    color: black;
    font-family: 'Open Sans', sans-serif;
}
/*-------------------------------------------*/

#first-head
{
    margin-top: 10%;
    color: white;
    text-align: center;
}

#second-head
{
    margin-top: 10%;
    color: white;
    text-align: center;
}

#code
{
    font-family: 'Ubuntu Mono', monospace;
}

@media .featurette
{
    max-height: 200px;
    max-width: 240px;
}


/* Typewriter class effect
------------------------------------------- */
.typewrite{
    color: floralwhite;
    font-family: 'Lato', sans-serif;
    text-align: center center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .01em; /* Adjust as needed */
    animation: 
    typing 3.5s steps(40, end)
}