html,
body,
header,
#first-container {
    background-image: url('../pics/beach.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh;
}

#second-container
{
    background-color: #2B2F30;
    height: 45vh;
}

#navbar-top
{
    
    font-family: 'Raleway', sans-serif;
}
#nav-name
{
    font-family: 'Open Sans', sans-serif;
}

#first-head
{
    padding-top: 30vh;
    color: white;
    text-align: center;
}

#second-head
{
    padding-top: 22vh;
    color: white;
    text-align: center;
}

#small-head
{
    color: white;
    text-align: center;
}
