html,
body,
header,
#first-container {
    background-image: url('../pics/beach.jpg'); 
    background-attachment: fixed;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 100%;
}

#second-container
{
    background-color: #2B2F30;
    height: 40%;
}
/*------------------------ Navbar------------*/
#navbar-top
{
    background:  rgba(255, 255, 255, .3)
/*    background-image: linear-gradient(to top right, #FEB5BE, #B487BD);*/
}
#navbar-top
{
    color: black;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
}
#navbar-text
{
    color: black;
}
#nav-name
{
    color: black;
    font-family: 'Open Sans', sans-serif;
}
/*-------------------------------------------*/

#first-head
{
    margin-top: 20%;
    color: white;
    text-align: center;
}

#second-head
{
    margin-top: 10%;
    color: white;
    text-align: center;
}

#code
{
    font-family: 'Ubuntu Mono', monospace;
}



/* Typewriter class effect
------------------------------------------- */
.typewrite{
    color: floralwhite;
    font-family: 'Lato', sans-serif;
    text-align: center center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
    typing 3.5s steps(40, end)
}